html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1 {
  color: red;
}


* {
  box-sizing: border-box;
}


.app-container {
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  padding: 20px;
  width: 100vw;
}


.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 20px;
}


.movie-card {
  background-color: #111;
  padding: 10px;
  border-radius: 8px;
}

.movie-poster {
  width: 100%;
  border-radius: 4px;
}


.movie-title {
  font-family: Apple SD Gothic Neo;
  margin-top: 10px;
  font-size: 16px;
}


.movie-rating {
  font-size: 16px;
  color: yellow;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #222;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  gap: 20px;
  position: relative;
  max-width: 700px;
  color: white;
}

.modal-poster {
  width: 150px;
  border-radius: 10px;
}

.modal-info {
  max-width: 500px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}